body {
    background-color: rgb(100, 66, 112);
    background-attachment: fixed;
    background-size: cover;
    font-family: sans-serif;
    position: relative;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    align-content: normal;
    height: 400px;
    gap: 16px;
}

.item-1 {
    flex-basis: 100px;
    height: auto;
    align-self: flex-end;
}

.item-4 {
    flex-basis: 100px;
}

.item-5 {
    flex-basis: 100px;
}
