body {
    background-color: #6a386c60;
    background-attachment: fixed;
    background-size: cover;
    font-family: sans-serif;
    position: relative;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 16px;
}

.item-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.item-2 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.item-3 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.item-4 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
