body {
    background-color: rgb(108, 143, 190);
    background-attachment: fixed;
    background-size: cover;
    font-family: sans-serif;
    position: relative;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 16px;
}

.item-1 {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.item-5 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.item-6 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
