body {
    background-color: rgba(74, 108, 158, 0.767);
    background-attachment: fixed;
    background-size: cover;
    font-family: sans-serif;
    position: relative;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 16px;
}

.item-7 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}
.item-10 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.item-11 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
